/* Colores a usar en mi pagina
#F8EDED Clarito para fondos
#FF8225 Naranja para resaltados
#B43F3F Bordo
#173B45 negrito*/
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Seteo de tamaño rem */
html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

/* Contenedor principal */
.containerGrid {
  display: grid;
  grid-template-areas:
    "header header header"
    "inicio inicio inicio"
    "centerContent  centerContent sidebar"
    "footer footer footer";
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  max-width: 100%;
}

/* Contenedor Grid simple */
.containerGridSimple {
  display: grid;
  grid-template-areas:
    "header "
    "inicio "
    "centerContent"
    "footer";
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  max-width: 100%;
}

/* Header */

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #efab77;
  padding: 11px 37px;
  font-size: medium;
  width: auto;
  margin: 0;
  border-radius: 5px;
}

.logo {
  width: 30%;
}

.logo img {
  height: 70px;
}
.navbar {
  display: flex;
  justify-content: end;
  text-align: right;
  width: 70%;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-top: 50px;
  margin-right: 5px;
}

.navbar a {
  color: rgb(247, 24, 24);
  text-decoration: none;
  font-size: 1.6rem;
}

/* Main */

/* .separador {
  grid-area: separador;
  border: 0.5px solid;
  border-color: #060505;
  border-style: solid;
  width: 100%;
  margin: 0 auto;
  grid-column: 1 / -1; 
} */

.top3-container {
  grid-area: inicio;
  display: flex;
  flex-direction: row;
  margin: 10 auto;
  padding: 11px 37px;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 20px;
}
.top3-article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center;
  flex-direction: column;
}

.top3-article img {
  width: 100%;
  height: auto;
}

.top3-title {
  margin-top: 10px;
  display: block;
}

.mainContent {
  grid-area: centerContent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b4aaaa;
  border-radius: 10px;
}

.categorie-article {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  margin: 10px;
}
.imageArticle {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categorie-article img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.descArticle {
  width: 30%;
  margin: 20px;
  font-size: 1.5em;
}
.mainContentRecipes {
  grid-area: centerContent;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #f8f1f1;
  border-radius: 10px;
}

.recipe-article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 200px; /* Limita el ancho máximo de las celdas */
  height: 200px; /* Limita la altura máxima de las celdas */
  overflow: hidden;
}
.imageRecipe {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imageRecipe img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.descRecipe {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  width: 100%;
}
.descRecipe  a{
  color: white;
  text-decoration: none;
}
.bienvenida {
  grid-area: inicio;
  text-align: center;
  height: 100px;
  font-size: 2rem;
  background-color: #cdc0c0;
  margin-top: 10px;
  border-radius: 10px;
}

.sectionRecetas {
  grid-area: centerContent;
}

.mainContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 2em;
}

.form-datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: rgb(59, 68, 172);
  width: 50%;
  padding: 20px 10px;
  border-radius: 20px;
}

.inputs,
.botons {
  width: 75%;
}

.form-datos p,
.form-datos a {
  color: #f8f1f1;
}
.contact {
  background-color: #eee;
}

.wireframe {
  width: 100%;
  height: auto;
}
/* Sidebar */
.sidebar {
  grid-area: sidebar;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(229, 224, 218);
  border-radius: 10px;
  gap: 10px;
}
.sidebar img {
  width: 50%;
  height: auto;
  border-radius: 100px;
  margin: 20px;
}

.descripcion {
  margin: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descripcion p {
  text-align: center;
  font-size: 1.5em;
  width: 80%;
}
/* Footer */
.footer {
  grid-area: footer;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #efab77;
  padding-left: 30px;
  font-size: medium;
  border-radius: 5px;
}
.footer img {
  width: 40px;
  margin-left: 10px;
}

.redes {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 430px) {
  .containerGrid {
    display: grid;
    grid-template-areas:
      "header"
      "inicio"
      "centerContent"
      "sidebar"
      "footer";
    gap: 20px;
    width: 100%;
    margin: 0;
  }
  
  /* Contenedor Grid simple */
  .containerGridSimple {
    display: grid;
    grid-template-areas:
      "header"
      "inicio"
      "centerContent"
      "footer";
    gap: 20px;
    width: 100%;
    margin: 0 auto;
  }

.header{
  flex-direction: column;
  align-items: center;
}

}