






/* Pagina Fotos */
.fotosMainContent {
  display: grid;
  margin: 20px auto;
  position: relative;
}

.fotosButton {
  background-color: #f1ba7b !important;
}
.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}
.carousel-caption h5 {
  font-size: 1.5rem;
}

.fotosControl {
  background-color: rgb(234, 194, 61) !important;
  width: 30px;
  height: 30px;
}

.carousel-inner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* Pagina Contacto */
.contactMainContent {
  display: grid;
  grid-template-areas: "main main main sidebar";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: 20px auto;
  gap: 5px;
}
.contactosForm {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 50%;
}

.contactosForm h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.form-datos {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.form-input {
  border-radius: 8px;
  padding: 15px;
  font-size: 1.1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.form-input:focus {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  outline: none;
  border-color: #6c757d;
}

.form-check-label {
  font-size: 1.5rem;
  color: #555;
}

.btn-enviar {
  background-color: #28a745;
  color: #fff;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 1.2rem;
  box-shadow: 0 5px 15px rgba(0, 128, 0, 0.2);
  transition: all 0.3s ease;
  width: 100%;
}

.btn-enviar:hover {
  background-color: #218838;
  box-shadow: 0 8px 20px rgba(0, 128, 0, 0.4);
  transform: translateY(-2px);
}

/* Modal para agradecer contacto */
.popup {
  width: 400px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

.popup.active {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10p;
}
.popup p {
  font-size: 18px;
  font-weight: 300;
  margin: 30px 0 10p;
}
.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background-color: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
/* Pagina de agradecimiento */
.gridPageBienvenido {
  display: grid;
  grid-template-areas: "main main main sidebar";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: 20px auto;
  justify-content: center;
  gap: 5px;
}
.bienvenida {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  height: 30%;
}

/* Pagina del wireframe */
.gridWireframePage {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main sidebar";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: 10px auto;
  gap: 5px;
}

.wirefremaMPageMainContent {
  grid-area: main;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
}
.wirefremaMPageMainContent hr {
  width: 90%;
  margin: 0 auto;
  border: 2px solid black;
}
.wirefremaMPageMainContent img {
  width: 100%;
}
.wireframePageHeader {
  grid-area: header;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}




/* About page */
.aboutGrid {
  display: grid;
  grid-template-areas: "main main main sidebar";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: 10px auto;
  gap: 5px;
}
.aboutContent {
  grid-area: main;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}
.aboutContent img {
  width: 50%;
  height: auto;
  border-radius: 20px;
  margin: 30px;
}

.aboutContent h1 {
  color: #975a2c;
  font-size: 4rem;
}

.aboutContent p {
  width: 80%;
  font-size: 2rem;
  text-align: justify;
}


/* Pagina Recetas */

.container {
  width: 80%;
  padding: 0;
}
.recetasBienvenida {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  background-color: #ede0d6;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}
.recetaHeader:hover {
  background-color: #df965d;
}
.recetaHeader:not(.collapsed) {
  background-color: #df965d;
}

.recetasImagenes {
  display: flex;
  justify-content: center;
}
.recetasIngredientes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10%;
}
.recetasIngredientes ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.recetasIngredientes li {
  position: relative;
  padding-left: 0;
  text-indent: 0;
}

.recetasIngredientes li::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 16px;
  color: green;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 16px;
}
.recetasIngredientes li span {
  margin-left: 30px;
  display: block;
}

.recetasIngredientes1 h3,
.recetasIngredientes2 h3,
.recetasIngredientes h3 {
  padding-left: 20px;
}

.recetasPreparacion {
  grid-area: preparacion;
  width: 100%;
  font-size: 1.5rem;
}
.container-recetas-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  gap: 10px;
  background-color: #dbe1e5;
  border-radius: 10px;
  align-items: center;
}
.recetas-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.recetas-form button {
  padding: 10px 20px;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #218838;
  width: 20%;
}
.recetas-form button:hover {
  background-color: #9adfa9;
}
/* Media queries */

@media (max-width: 500px) {
  /* Main page */
  .gridTopMainSide {
    display: grid;
    grid-template-areas:
      "top3"
      "main"
      "sidebar";
    grid-template-columns: 1fr;
    width: 80%;
    margin: 10px auto;
    gap: 5px;
  }
  .top3-articles {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .top3-article {
    width: 100%;
  }
  .categorie-article {
    flex-direction: column;
  }
  .imageArticle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .categorie-article img {
    width: 100%;
  }
  .descArticle {
    width: 100%;
    font-size: 1.2rem;
    padding-right: 20px;
  }

  /* TOP3 Page */
  .gridTop3Page {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "sidebar";
    grid-template-columns: 1fr;
    width: 80%;
    margin: 10px auto;
    gap: 5px;
  }
  .top3PageSidebar {
    display: none;
  }

  /* About page */
  .aboutGrid {
    display: grid;
    grid-template-areas:
      "main"
      "sidebar";
    grid-template-columns: 1fr;
  }
  .aboutGrid p {
    font-size: 1.5rem;
  }
  .ultimasArticle {
    display: grid;
    grid-template-areas:
      "titulo"
      "imagen"
      "ingredientes"
      "preparacion";
    grid-template-columns: 1fr;
    width: 100%;
  }

  .contactMainContent {
    grid-template-areas:
      "main"
      "sidebar";
    grid-template-columns: 1fr;
  }
  .gridPageBienvenido {
    display: grid;
    grid-template-areas:
      "main"
      "sidebar";
    grid-template-columns: 1fr;
    width: 80%;
    margin: 20px auto;
    justify-content: center;
    gap: 5px;
  }
  .gridWireframePage {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "sidebar";
    grid-template-columns: 1fr;
    width: 80%;
    margin: 10px auto;
    gap: 5px;
  }
  .recetasIndice .navbar-nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-auto-flow: row;
  }
}
