/* Colores a usar en mi pagina
#F8EDED Clarito para fondos
#FF8225 Naranja para resaltados
#B43F3F Bordo
#173B45 negrito*/
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Seteo de tamaño rem */
html {
  font-size: 62.5%;
}

/* Header */

.header-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #efab77;
  padding-left: 30px;
  font-size: medium;
}

.logo {
  width: auto;
}

.logo img {
  height: 70px;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-top: 50px;
  margin-right: 5px;
}

.navbar {
  text-align: right;
}

.navbar a {
  color: rgb(247, 24, 24);
  text-decoration: none;
  font-size: 1.6rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #efab77;
  padding-left: 30px;
  font-size: medium;
}

.footer-container img {
  width: 40px;
  margin-left: 10px;
}

.redes {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
