// Generales del html
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Seteo de tamaño rem */
html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

@import "./partials/variables";
@import "./partials/headerAndFooter";
@import "./partials/index";
@import "./partials/sidebars";
@import "./partials/top3";
@import "./partials/ultimasRecetas";
@import "./partials/fotos";
@import "./partials/contacto";
@import "./partials/bienvenido";
@import "./partials/wireframe";
@import "./partials/about";
@import "./partials/recetas";
@import "./partials/mediaQueries";
