/* About page */
.aboutGrid {
    display: grid;
    grid-template-areas: "main main main sidebar";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: 10px auto;
    gap: 5px;
  }
  .aboutContent {
    grid-area: main;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    img {
      @include img-styles(50%, auto, 20px);
      margin: 30px;
    }
    h1 {
      color: #975a2c;
      font-size: 4rem;
    }
    p {
      width: 80%;
      font-size: 2rem;
      text-align: justify;
    }
    
  }
