/* Pagina Fotos */
.fotosMainContent {
  display: grid;
  margin: 20px auto;
  position: relative;
}
.carousel-indicators {
  .fotosButton {
    background-color: #f1ba7b;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-caption {
  h5 {
    font-size: 1.5rem;
  }
}

.fotosControl {
  background-color: rgb(234, 194, 61);
  width: 30px;
  height: 30px;
}

.carousel-inner {
  img {
    @include img-styles(100%, 500px, 5px);
    object-fit: cover;
  }
}
