/* Pagina Fotos */
.fotosMainContent {
  margin: 20px auto;
  position: relative;
  .carrousel {
    .fotos-carrousel {
      width: 40%;
      margin: 10px auto 20px auto;
      img {
        @include img-styles(100%, auto, 5px);
        object-fit: cover;
      }
      .carousel-control-prev,
      .carousel-control-next {
        width: 10%;
      }
      .fotosControl {
        background-color: rgb(234, 194, 61);
        width: 30px;
        height: 30px;
      }
    }
    .carrousel-indicadores {
      width: 30%;
      margin: auto;
      .fotosButton {
        background-color: #f1ba7b;
      }
    }
  }
}
