/* Pagina del wireframe */
.gridWireframePage {
    display: grid;
    grid-template-areas:
      "header header header header"
      "main main main sidebar";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: 10px auto;
    gap: 5px;
  }
  
  .wirefremaMPageMainContent {
    grid-area: main;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    hr {
      width: 90%;
      margin: 0 auto;
      border: 2px solid black;
    }
    img {
      width: 100%;
    }
  }

  .wireframePageHeader {
    grid-area: header;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }